{{#each assignments}}
	<div class="assignment list_thingy rounded-cont flex flex-v-center text-left" id="assignment-{{this.id}}" data-assign-id="{{this.id}}" data-index-id="{{this.index_id}}" data-user-task="{{this.user_task}}" onclick="toggle_expand('{{this.id}}')" data-expanded="false">
		<div>
			<h4 id="assign-title-{{this.id}}">
				{{this.title}}
			</h4>
			<small id="short-class-{{this.id}}">
				{{#if this.section_id}}
					<a href="class.html?class={{this.section_id}}" onclick="event.stopPropagation()">
				{{/if}}
					
				{{this.short_class}}
				
				{{#if this.section_id}}
					</a>
				{{/if}}
			</small>
			
			<div onclick="toggle_expand('{{this.id}}')" id="long-header-{{this.id}}" class="hidden long_header">	
				<h4>
					{{this.long_title}}
				</h4>
				<small>
					{{#if this.section_id}}
						<a href="class.html?class={{this.section_id}}" onclick="event.stopPropagation()">
					{{/if}}
					
					{{this.long_class}}
					
					{{#if this.section_id}}
						</a>
					{{/if}}
				</small>
			</div>
			
			<p class="standard_transition hidden" id="desc-{{this.id}}">
				{{this.desc}}
			</p>
			<h5 class="assigned">
				Assigned {{assign_date}}
			</h5>
			<h5>
				Due {{due_date}}
			</h5>
			<div class="hidden" style="padding-top: 5px;" id="edit-div-{{this.id}}">
				{{#if this.user_task}}
					<span class="link" onclick="show_add_popup({{this.id}})" id="edit-button-{{this.id}}"> edit</span>
				{{/if}}
				{{#if this.is_special}}
					<br>
					{{this.special_type}} assignments are not currently supported. to submit this assignment, use the
					<a href="{{this.official_url}}" target="_blank">
						official client
					</a>
				{{/if}}
			</div>
		</div>

		<div>
			<span class="round-indicator indicator-{{this.indicator.class}}" id="assignment-ind-{{this.id}}" onclick="queue_update('{{this.index_id}}', {{this.id}}, {{this.user_task}}, event)">
				{{this.indicator.text}}
			</span>
		</div>
	</div>
{{/each}}
